@tailwind base;
@tailwind components;
@tailwind utilities;


@import './notie.scss';

/* disbale select text */
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

select[multiple] option::selection, 
select[multiple] option::-webkit-selection,
select option:checked {
    background-color: #4a4aff !important;
    color: white !important;
}

[x-cloak] {
    display: none;
}

#quiz-logo {
    width: 50px;
}

#logo-outer{
    stroke: #ef4444 !important;
}

#logo-inner{
    fill: #ef4444 !important;
}

#confetti {
    position: fixed;
    top: 0px;
}

.tox-tinymce {
    max-width: 300px;
    margin: 16px;
}

.q-option  {
    min-height: 4rem !important;
    height: auto;
}


div#imagePreviewContainer {
    max-width: 250px;
    max-height: 250px;
    margin-top: 10px;
    text-align: center;
}