@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

#quiz-logo {
    width: 50px;
}

#logo-outer{
    stroke: #ef4444 !important;
}

#logo-inner{
    fill: #ef4444 !important;
}

#confetti {
    position: fixed;
    top: 0px;
}

.tox-tinymce {
    max-width: 300px;
    margin: 16px;
}

.q-option  {
    min-height: 4rem !important;
    height: auto;
}